<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MTurkManagement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
<div class="w-full h-[100vh] flex flex-col justify-center items-center">
    <button onclick="handleLoadFromMongoDB()"
            class="block m-4 px-4 py-2 text-sm bg-white text-slate-700 border border-slate-300 rounded-md ring-2 ring-blue-500/50 hover:ring-blue-500">
        New Batch from MongoDB
    </button>
    <button onclick="handleLoadFromJSON()"
            class="block m-4 px-4 py-2 text-sm bg-white text-slate-700 border border-slate-300 rounded-md ring-2 ring-blue-500/50 hover:ring-blue-500">
        New Batch from JSON
    </button>
    <div id="hint"></div>
</div>
<script>
    const hintElement = document.querySelector('#hint')
    const loadTask = (name) => fetch(`/task/${name}/`).then(res => res.text())
    const handleLoadFromMongoDB = () => {
        loadTask('new_batch_from_mongodb').then(data => {
            hintElement.innerText = data
            setTimeout(() => {
                hintElement.innerText = ''
            }, 5000)
        }).catch(err => {
            alert(JSON.stringify(err))
            console.log(err)
        })
    }
    const handleLoadFromJSON = () => {
        loadTask('new_batch_from_json').then(data => {
            hintElement.innerText = data
            setTimeout(() => {
                hintElement.innerText = ''
            }, 5000)
        }).catch(err => {
            alert(JSON.stringify(err))
            console.log(err)
        })
    }
</script>
</body>
</html>